.Button {
    outline: none;
    background: #000000;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 8px;
    padding: 16px 24px 14px;
    font-size: var(--button-size);
    font-weight: 700;
    line-height: 1;
    border: 0;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms;
    position: relative;

    &:hover {
        transform: translateY(-2px);
    }

    &_isPrimary {
        background: #FF8577;
    }

    &_hasIcon {
        padding-right: 54px;
    }

    &-Icon {
        position: absolute;
        height: 22px;
        width: 22px;
        right: 22px;
        top: 12px;
    }
}