.SubscribeForm {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    &-Email {
        outline: none;
        background: #fff;
        color: #000;
        border-radius: 8px;
        padding: 14px 24px 13px;
        font-size: var(--button-size);
        font-weight: 300;
        line-height: 1;
        border: 0;
        position: relative;
    }

    &-Button {
        margin-left: 20px;
        background: #FFC700;
        color: #000;

        @media (max-width: 800px) {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    &-Email,
    &-Button {
        @media (max-width: 800px) {
            width: calc(100vw - 64px);
        }
    }
}