.Features {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: 800px) {
        padding: 0;
    }

    &-Wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: 20fr 1fr 20fr;
        gap: 40px;

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
            gap: 20px;
            border-bottom: 3px solid black;
        }

        &:last-of-type {
            border-bottom: none;
        }
    }

    &-Heading {
        margin: 0 0 20px;

        @media (max-width: 800px) {
            margin-bottom: 15px;
        }
    }

    &-Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        p {
            margin: 0 0 10px;
            font-weight: 300;
            line-height: 140%;
            font-size: var(--p-size);
        }
    }

    &-Images {
        grid-column: span 2;

        @media (max-width: 800px) {
            grid-column: auto;
            order: 1;
        }
    }

    &-Image {
        --img-hover-color: #FF8577;
    }

    &-Image + &-Image {
        margin-top: 30px;

        @media (max-width: 800px) {
            margin-top: 10px;
        }
    }
}