.Hero {
    margin-top: 100px;
    padding: 24px 0;

    @media (max-width: 800px) {
        margin-top: 80px;
    }

    &-Wrapper {
        height: 100%;
        min-height: 600px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        @media (max-width: 800px) {
            display: block;
            min-height: auto;
        }
    }

    &-Content {
        max-width: calc(60% - 40px);
        z-index: 10;

        @media (max-width: 800px) {
            max-width: 100%;
        }
    }

    &-Title {
        margin: 10px 0 60px;

        @media (max-width: 800px) {
            margin-bottom: 40px;
        }
    }

    &-SubTitle {
        font-weight: 300;
        font-size: var(--h4-size);
        line-height: 130%;
        margin: 0;
    }

    &-Image {
        position: absolute;
        width: 50%;
        height: 90%;
        top: 10%;
        right: 0;
        object-fit: contain;
        object-position: right;

        @media (max-width: 800px) {
            width: 100%;
            z-index: -1;
            top: 30%;
            right: -20%;
        }
    }

    &-Nav .Button {
        margin-right: 15px;
    }
}