.Header {
    padding: 24px 0;
    border-bottom: 3px solid #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;

    &-Wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-Logo {
        font-weight: bold;
        font-size: var(--h4-size);
        line-height: 1;
        margin: 0;
        color: #000000;
        text-decoration: none;
    }

    &-Nav {
        @media (max-width: 800px) {
            display: none;
        }
    }

    &-Nav .Button {
        margin-left: 15px;
    }
}