.Steps {
    background: #FF8577;

    &-Wrapper {
        padding: 70px 0;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    &-Content {
        max-width: calc(60% - 40px);
    }

    &-Heading {
        font-size: 70px;
        margin: 0;
    }

    &-Sub {
        font-size: 35px;
        margin: 0;
    }

    &-Graphics {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        object-fit: contain;
        object-position: right;
    }
}