.Steps {
    background: #FF8577;

    &-Wrapper {
        padding: 70px 32px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        @media (max-width: 800px) {
            display: block;
            padding: 40px 32px 20px;
        }
    }

    &-Content {
        max-width: calc(60% - 40px);

        @media (max-width: 800px) {
            max-width: auto;
        }
    }

    &-Heading {
        font-size: var(--h1-size);
        margin: 0;
    }

    &-Sub {
        font-size: var(--p-size);
        margin: 0;
    }

    &-Graphics {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        object-fit: contain;
        object-position: right;

        @media (max-width: 800px) {
            margin-top: 10px;
            position: relative;
            width: 100%;
            height: auto;
        }
    }
}