.StanaloneModules {
    padding-top: 20px;
    padding-bottom: 70px;
    background: #FF8577;

    @media (max-width: 800px) {
        padding-top: 10px;
        padding-bottom: 40px;
    }

    &-Title {
        text-align: center;
    }

    &-Grid {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        @media (max-width: 800px) {
            margin-top: 40px;
            gap: 20px;
            grid-template-columns: 1fr;
        }
    }

    &-Item {
        &Title {
            margin: 25px 0 7px;

            @media (max-width: 800px) {
                margin-top: 5px;
            }
        }

        &Description {
            font-weight: 300;
            line-height: 140%;
            font-size: var(--p-size);
            margin: 0;
        }
    }
}